body {
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  .header-container {
    margin: 0;
    overflow: hidden;
  }
  .header-container .nav-bar {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .header-container .nav-bar .nav-item {
    display: inline-block;
    list-style-type: none;
  }
  .header-container .nav-bar .nav-item a {
    color: #e5e7eb;
    display: block;
    line-height: 3em;
    padding: 1em 3em;
    text-decoration: none;
    font-size: 18px;

  }

nav ul li:first-child {
  margin-right: auto;
}
nav ul li a.logo {
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  padding 1em 3em;
  color: #f9faf8;
}

nav ul li a:hover {
}

.header {
    height: 600px;
    width: 100%;
    margin: 0px;
    background-color: #1f2937;
}

.header-text {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.right {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.left h2 {
  font-size: 48px;
  color: #f9faf8;
}

.left p {
  font-size: 18px;
  color: #efe7eb;
}

.left button {
  width: 100px;
  background-color: #3882f6;
  border-radius: 5px;
  border: none;
  color: #efe7eb;
}